@import './bootstrap/bootstrap.scss';
@import 'task_form';
@import 'task_list';
@import 'task';
@import 'calendar';
@import 'project';
@import 'header';
.main-links {
    display: flex;
    align-items: center;
    width: 100%;
    a {
        display: inline-block;
        margin: 10px;
    }
    .btn-logout {
        margin-left: auto;
        margin-right: 10px;
    }
}

.auth-form {
    margin-top: 200px;
    form {
        max-width: 600px;
        margin: 0 auto;
    }
}

#loader {
    height: 12rem;
    width: 12rem;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}