@import 'task_form';
@import 'task_list';
@import 'task';
@import 'calendar';
.main-links {
    display: flex;
    align-items: center;
    width: 100%;
    a {
        display: inline-block;
        margin: 10px;
    }
    .btn-logout {
        margin-left: auto;
        margin-right: 10px;
    }
}

.auth-form {
    margin-top: 200px;
    form {
        max-width: 600px;
        margin: 0 auto;
    }
}