@import './bootstrap/bootstrap.scss';
@import 'media_queries';
@import 'task_form';
@import 'task_list';
@import 'task';
@import 'global_task';
@import 'calendar';
@import 'project';
@import 'header';
@import 'roundedProgresBar';
@import 'main-tasks-list';
.main-body{
  padding: 25px;

  @include  lg{
    padding: 25px;
  }
  @include  xl{
    padding: 25px;
  }
  @include  md{
    padding: 5px;
  }
}
.main-links {
  display: flex;
  align-items: center;
  width: 100%;

  a {
    display: inline-block;
    margin: 10px;
  }

  .btn-logout {
    margin-left: auto;
    margin-right: 10px;
  }
}

.auth-form {
  margin-top: 200px;

  form {
    max-width: 600px;
    margin: 0 auto;
  }
}

#loader {
  width: 100px;
  height: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.options-block {
  position: relative;
  width: 20px;
  display: flex;
  justify-content: center;

  .dropdown-toggle::after {
    content: none;
  }

  .dropdown-menu {
    width: 100px;
  }

  .options-block__body {
    position: absolute;
    left: 20px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
  background: #6c757d48;
}

::-webkit-scrollbar-thumb {
  transition: all 0.3s;
  background: var(--gray);

  &:hover {
    background: var(--blue);
  }
}

.loading-content {
  transition: 0.1s;
  opacity: 0;
}
