.navigation-calendar {
    display: flex;
    justify-content: center;
    width: 100px;
    .name-month {
        width: 100px;
        text-align: center;
    }
    .name-year {
        width: 100px;
        text-align: center;
    }
    .prev {
        height: 30px;
        width: 30px;
    }
    .next {
        height: 30px;
        width: 30px;
    }
}

.month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    .week {
        text-align: center;
    }
    .day {
        text-align: right;
        border: 1px solid;
        margin: 1px;
        height: 70px;
        // padding-right: 10px;
        .dayNum {
            width: 17px;
            height: 17px;
            margin-left: auto;
            margin-right: 5px;
        }
    }
    .Sunday {
        color: red;
    }
}