.navigation-calendar {
    display: flex;
    justify-content: center;
    // width: 100px;
    .name-month {
        display: flex;
        width: 100px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .name-year {
        display: flex;
        width: 100px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .prev {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .next {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    .week_names {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    .day {
        text-align: right;
        border: 1px solid;
        margin: 1px;
        height: 70px;
        border-radius: 3px;
        .dayNum {
            width: 17px;
            height: 17px;
            margin-left: auto;
            margin-right: 5px;
        }
        &.select-day {
            background-color: #007bff;
            color: white;
            border-radius: 10px;
            opacity: 1;
            transition: .5s;
        }
        &.prevMonth {
            pointer-events: none;
            color: white;
            background-color: rgba(53, 53, 53, 0.671);
        }
    }
}