.global_task {
    position: relative;
    .options-block {
        width: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 999;
        .options-block__body {
            position: absolute;
            top: 25px;
            left: -90px;
        }
    }
}

.global-task__detail__title {
    align-items: center;
}