            #selectProject {
                border-style: none;
                border-radius: 0;
                border-left-style: solid;
                border-right-style: solid;
                width: 200px;
                font-size: 32px;
                &:after {
                    // display: none;
                    position: absolute;
                    top: 50%;
                    opacity: 0;
                    right: 15px;
                    transition: all .3s;
                }
                &:hover {
                    border-radius: 5px;
                    color: var(--blue) !important;
                    &:after {
                        opacity: 1;
                    }
                    transition: all .3s;
                }
                &.none {
                    &:after {
                        display: none;
                    }
                }
            }
            
            #header_nav {
                min-width: 100%;
                .nav-link {
                    transition: all .3s;
                    &:hover {
                        border-radius: 5px;
                        background-color: white;
                        color: var(--blue) !important;
                    }
                }
            }