// TASK CARD
.task-card {
    margin-top: 5px;
    max-width: 350px;
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(50, 50, 71, 0.08), 0px 12px 12px rgba(50, 50, 71, 0.08);
    border-radius: 10px;
    .card-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        .card-title {
            a {
                display: block;
                min-height: 50px;
            }
        }
    }
    .options {
        width: 200px;
        display: flex;
        justify-content: space-between;
        div {
            width: 95px;
        }
    }
    .actions {
        display: flex;
        flex-wrap: wrap;
        width: 25px;
        align-items: center;
        margin-left: auto;
        div {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

.selected-element-option {
    cursor: pointer;
    .badge:empty {
        display: block;
    }
}

//TASK DETAIL PAGE
#task-detail {
    padding: 10px;
    background-color: #e9ecef52;
    display: grid;
    box-shadow: 0px 16px 24px rgba(50, 50, 71, 0.08), 0px 12px 12px rgba(50, 50, 71, 0.08);
    grid-template-columns: repeat(2, 1fr);
    .description {
        min-height: 100px;
    }
    .options {
        display: flex;
        justify-content: space-between;
        max-width: 210px;
        div {
            width: 100px;
            .badge.badge-pill {
                height: 10px;
            }
        }
    }
    .actions {
        margin-left: auto;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        width: 25px;
        div {
            width: 100%;
        }
    }
    .date-created {
        margin-top: 10px;
        opacity: .5;
    }
}